@charset "UTF-8";
/*START critical css*/
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-Italic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Sans Extra Condensed";
  src: url("../fonts/Sofia_Sans_Extra_Condensed/static/SofiaSansExtraCondensed-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest/static/Onest-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Onest";
}
body.popup-open {
  overflow: hidden;
}

html, body {
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #DFDFDF;
}
@media (max-width: 600px) {
  .header {
    padding: 8px 0;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
}
@media (max-width: 1280px) {
  .header__inner {
    position: static;
  }
}
.header__logo {
  max-width: 238px;
}
.header__logo img {
  display: block;
}
@media (max-width: 1280px) {
  .header__logo {
    max-width: 200px;
  }
}
@media (max-width: 600px) {
  .header__logo {
    max-width: 190px;
  }
}
.header .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 8px 16px;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
}
@media (max-width: 1280px) {
  .header .menu {
    display: none;
    top: 89px;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    border-radius: 0px;
    border: none;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .header .menu {
    top: 65px;
  }
}
.header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
@media (max-width: 1280px) {
  .header .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0;
  }
}
.header .menu-list > li.arrow > span {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
@media (max-width: 1280px) {
  .header .menu-list > li.arrow > span {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.header .menu-list > li.arrow > span svg {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .menu-list > li.arrow > span svg path {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (any-hover: hover) {
  .header .menu-list > li.arrow:hover > span {
    color: #FF4100;
  }
  .header .menu-list > li.arrow:hover > span svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
  .header .menu-list > li.arrow:hover > span svg path {
    fill: #FF4100;
  }
  .header .menu-list > li.arrow:hover .sub-menu {
    opacity: 1;
    pointer-events: auto;
  }
}
.header .menu-list > li.arrow.active > span {
  color: #FF4100;
}
.header .menu-list > li.arrow.active > span svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.header .menu-list > li.arrow.active > span svg path {
  fill: #FF4100;
}
.header .menu-list > li > a, .header .menu-list > li > span {
  padding: 8px;
  font-family: "JetBrains Mono";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (any-hover: hover) {
  .header .menu-list > li > a:hover, .header .menu-list > li > span:hover {
    color: #FF4100;
  }
}
@media (max-width: 1280px) {
  .header .menu-list > li > a, .header .menu-list > li > span {
    display: block;
    padding: 16px;
    border-bottom: 1px solid #DFDFDF;
  }
}
.header .menu-list > li .sub-menu {
  position: absolute;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
  top: 100%;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 1280px) {
  .header .menu-list > li .sub-menu {
    -webkit-transition: none;
    transition: none;
    display: none;
    position: static;
    opacity: 1;
    pointer-events: auto;
    border: none;
  }
}
.header .menu-list > li .sub-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
}
@media (max-width: 1280px) {
  .header .menu-list > li .sub-menu::before {
    display: none;
  }
}
.header .menu-list > li .sub-menu ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
}
@media (max-width: 1280px) {
  .header .menu-list > li .sub-menu ul {
    display: block;
  }
}
@media (max-width: 1280px) {
  .header .menu-list > li .sub-menu ul li {
    border-bottom: 1px solid #DFDFDF;
  }
}
.header .menu-list > li .sub-menu ul li:first-child a {
  border-right: 1px solid #DFDFDF;
}
@media (max-width: 1280px) {
  .header .menu-list > li .sub-menu ul li:first-child a {
    border: none;
  }
}
.header .menu-list > li .sub-menu ul li > a {
  padding: 12px 16px 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}
@media (max-width: 1280px) {
  .header .menu-list > li .sub-menu ul li > a {
    padding: 12px 16px;
  }
}
.header .menu-list > li .sub-menu ul li > a img {
  width: auto;
}
.header .menu-list > li .sub-menu ul li > a span {
  font-family: "JetBrains Mono";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (any-hover: hover) {
  .header .menu-list > li .sub-menu ul li > a:hover span {
    color: #FF4100;
  }
}
.header .menu-list .line {
  width: 1px;
  height: 24px;
  background: #DFDFDF;
}
@media (max-width: 1280px) {
  .header .menu-list .line {
    display: none;
  }
}
.header__menu-btn {
  display: none;
  font-size: 0;
  width: 48px;
  aspect-ratio: 4/4;
  background-image: url("../images/icons/menu-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__menu-btn.active {
  background-image: url("../images/icons/menu-mobile-close.svg");
}
@media (max-width: 1280px) {
  .header__menu-btn {
    display: block;
  }
}

.footer {
  background: #0A0000;
  color: #FFFFFF;
  padding: 80px 0 16px 0;
}
@media (max-width: 800px) {
  .footer {
    padding: 24px 0 16px 0;
  }
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  margin-bottom: 110px;
}
@media (max-width: 800px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 80px;
  }
}
.footer__logo {
  max-width: 238px;
  margin-bottom: 40px;
}
@media (max-width: 800px) {
  .footer__logo {
    margin-bottom: 32px;
  }
}
.footer__logo img {
  display: block;
}
.footer__call {
  font-family: "Sofia Sans Extra Condensed";
  font-weight: 900;
  font-size: 40px;
  line-height: 1.05;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.footer__call-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-family: "JetBrains Mono";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FF4100;
}
.footer__call-info svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer__copy {
  font-family: "JetBrains Mono";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FF4100;
}
@media (max-width: 800px) {
  .footer__copy {
    text-align: center;
  }
}

/*END critical css*/
h1 {
  font-family: "Sofia Sans Extra Condensed";
  font-weight: 900;
  font-size: 80px;
  line-height: 0.95;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
    line-height: 1.05;
  }
}

h2 {
  font-family: "Sofia Sans Extra Condensed";
  font-weight: 900;
  font-size: 64px;
  line-height: 1.03;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-family: "Sofia Sans Extra Condensed";
  font-size: 40px;
  font-weight: 900;
  line-height: 1.05;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  h3 {
    line-height: 1;
    font-size: 24px;
  }
}

body {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
}

button {
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  button {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}

.btn {
  border-radius: 4px;
  padding: 24px 32px;
  background: #FF4100;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-family: "JetBrains Mono";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .btn {
    padding: 16px 20px;
    font-size: 14px;
    letter-spacing: 0.04em;
  }
}
.btn svg, .btn img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}