.btn{
	border-radius: 4px;
	padding: 24px 32px;
	background: $accent;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	font-family: 'JetBrains Mono';
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	@media (max-width: 600px){
		padding: 16px 20px;
		font-size: 14px;
		letter-spacing: 0.04em;
	}
	svg, img{
		flex-shrink: 0;
	}
}