@import 'reset.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body{
	// font-family: 'Montserrat', sans-serif;
}

html, body{
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
main{
	flex: 1 1 auto;
}

.container{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 60px;
	@media (max-width: 1280px){
		padding: 0 40px;
	}
	@media (max-width: 600px){
		padding: 0 20px;
	}
}

:root{
	
}