.call{
	padding: 80px 0;
	border-top: 1px solid $lines;
	background: $white-bg;
	@media (max-width: 600px){
		padding: 24px 0;
	}
	&__wrapper{
		max-width: 896px;
		margin: 0 auto;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $lines;
			clip-path: polygon(121px 0, 100% 0, 100% calc(100% - 121px), calc(100% - 121px) 100%, 0 100%, 0 121px);
			@media (max-width: 1280px){
				clip-path: polygon(81px 0, 100% 0, 100% calc(100% - 81px), calc(100% - 81px) 100%, 0 100%, 0 81px);
			}
			@media (max-width: 600px){
				clip-path: polygon(41px 0, 100% 0, 100% calc(100% - 41px), calc(100% - 41px) 100%, 0 100%, 0 41px);
			}
		}
	}
	&__inner{
		max-width: 896px;
		margin: 0 auto;
		background: $white;
		padding: 80px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		clip-path: polygon(120px 0, 100% 0, 100% calc(100% - 120px), calc(100% - 120px) 100%, 0 100%, 0 120px);
		@media (max-width: 1280px){
			clip-path: polygon(80px 0, 100% 0, 100% calc(100% - 80px), calc(100% - 80px) 100%, 0 100%, 0 80px);
		}
		@media (max-width: 600px){
			padding: 16px;
			clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
		}
	}
	&__name{
		display: block;
		font-family: 'JetBrains Mono';
		font-weight: 500;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $accent;
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 8px;
		svg{
			flex-shrink: 0;
		}
	}
	&__title{
		font-family: 'Sofia Sans Extra Condensed';
		font-weight: 900;
		font-size: 80px;
		line-height: .95;
		text-transform: uppercase;
		margin-bottom: 20px;
		@media (max-width: 600px){
			font-size: 40px;
			line-height: 1.05;
			margin: 8px;
		}
	}
	&__dscr{
		@media (max-width: 600px){
			max-width: 90%;
			br{
				display: none;
			}
		}
	}
}