.history{
	padding-top: 80px;
	background: $black;
	color: $white;
	@media (max-width: 600px){
		padding: 48px 0;
	}
	&__inner{
		display: grid;
		grid-template-columns: repeat(2, minmax(auto, 1fr));
		align-items: center;
		gap: 32px;
		@media (max-width: 1000px){
			grid-template-columns: repeat(1, minmax(auto, 1fr));
			gap: 16px;
		}
	}
	&__body{
		padding-bottom: 80px;
		@media (max-width: 600px){
			padding-bottom: 0;
		}
		span{
			display: block;
			font-family: 'JetBrains Mono';
			font-weight: 500;
			font-size: 12px;
			line-height: 1;
			letter-spacing: 0.04em;
			text-transform: uppercase;
			color: $accent;
			display: flex;
			align-items: center;
			gap: 8px;
			margin-bottom: 8px;
			svg{
				flex-shrink: 0;
			}
		}
	}
	&__title{
		strong{
			color: $accent;
		}
	}
}